*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  background: black;
  margin: 12px;
  width: 90%
  height: 1300px;
}
#contenedor{
  width: 100%;
  height: 100%;
  background: black;
  margin:auto;
}
#nav{
  color: white;
  background: #338a93;
  opacity: .8;
  font-family: corbel;
  width: 100%;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2px;
}
#header{
  color: #e37500;
  background: black;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 12px;
}
#section{

  background: #7a7a7a;
  width: 58%;
  height: 90%;
  margin: 2px;
  border-radius: 1em;
  float: left;
}
#aside{
  background-color: orange;
  width: 40%;
  height: 90%;
  margin: 2px;
  border-radius: 1em;
  float: right;
}
  #footer{
background: #e37500;
border-radius: 2em;
width:100%;
height: 10%;
margin: 10px;
  }

}
h1{
  font-family: corbel;
  font-size: 25px;
  text-align: center;
  color: white;
  margin: 50;
  padding: 10;
}
.navegacion{
  width: 1080px;
  margin: 50px auto;
  background:#e37500;


}
.navegacion ul{
  list-style: none;
}
.menu > li{
  /*position: relative;*/
  display: inline-block;
}

.menu > li > a{
  display: block;
  padding: 20px 25px;
  color: black;
  font-family: "corbel";
  text-decoration: none;

}
.menu li a:hover{
  color: white;
  transition: all .3s;
}

/*css submenu*/
.submenu{
  text-align: center;
  position: absolute;
  background: #21889c;
  width: 10%;
  padding: 10px 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.submenu li a{display: block;
padding: 15px
color:black
font-family:"corbel";
text-decoration: none;
}
.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
  color: white;
}
