@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Titan+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
  background: black;
  margin: 12px;
  width: 98%;
  height: 2000px;
}
#contenedor{
  width: 100%;
  height: 1800px;
  background: black;
  margin:auto;
}
#nav{
  color: #0097a7;
  background:  #d0d3d4 ;
  opacity: .8;
  font-family: corbel;
  width: 46%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  border-radius: 1em;
}
#header{
  color: #0097a7;
  background: black;
  width: 100%;
  height: 6%;
  text-align: center;
  margin: 12px;
}
#section{
  background:#0097a7;
  width: 56%;
  height: 90%;
  margin: 12px;
  border-radius: 1em;
  float: left;
  align-content: center;
}
#sectionF{
  background:#e37500 ;
  width: 58%;
  height: 90%;
  margin: 10px;
  border-radius: 1em;
  float: center;
  margin-left: 22%;
}
#aside{
  background-color:  #78909c ;
  width: 40%;
  height: 90%;
  margin: 12px;
  border-radius: 1em;
  float: right;
}
  #footer{
background: black;
border-radius: 2em;
width:100%;
height: 10%;
margin: 12px;
  }
#contenedor #section h1{
    font-family: corbel;
    font-size: 35px;
    color:   #e0e0e0 ;
    margin: 35px;
  }
  #contenedor #section p1{
    font-size: 20px;
    font-family: corbel;
    color: #e0e0e0;
  }
  #contenedor #aside h2{
      font-family: corbel;
      font-size: 35px;
      color: #006064;
      margin: 25px;
    }
    #contenedor #section h3{
        font-family: corbel;
        font-size: 30px;
        color:   #e0e0e0 ;
        margin: 35px;
      }
      .cont1{
        height: 800px;
        width: 600px;
        margin:2rem auto;
        text-align: justify;

      }
    #contenedor #section p2{
      font-size: 20px;
      font-family: corbel;
      color: #e0e0e0;
    }
    .cont2{
      height: 800px;
      width: 600px;
      margin:2rem auto;
      text-align: justify;
      text-align: center;
      font-weight: bold;
    }
    #contenedor #section p3{
      font-size: 20px;
      font-family: corbel;
      color: #e0e0e0;
    }
    .cont3{
      height: 100px;
      width: 700px;
      margin:1rem auto;
      text-align: justify;
      text-align: center;
      font-weight: bold;
    }
    #contenedor #aside h4{
      font-family: corbel;
      font-size: 35px
      color:orange;
    }
    #contenedor #aside p4{
      font-size: 20px;
      font-family: corbel;
      color: #e0e0e0;
    }
    .cont4{
      height: 600px;
      width: 500px;
      margin:2rem auto;
      text-align: justify;
      text-align: center;
      font-weight: bold;
      border: 1;
      border-color: white;
    }

img{
  margin: 2px;
  border-radius: 1em;
  align:center;
}
.navegacion{
  width: 1080px;
  margin: 50px auto;
  background:#d0d3d4;
}
.navegacion ul{
  list-style: none;
}
.menu > li{
  /*position: relative;*/
  display: inline-block;
}
.menu > li > a{
  display: block;
  padding: 20px 25px;
  color: black;
  font-family: "corbel";
  text-decoration: none;
}
.menu li a:hover{
  color: black;
  transition: all .3s;
}
/*css submenu*/
.submenu{
  text-align: center;
  position: absolute;
  background: #d0d3d4;
  width: 10%;
  padding: 10px 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}
.submenu li a{
display: block;
padding: 15px
color:black;
font-family:"corbel";
text-decoration: none;
}
.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
  color: white;
}
